definitions:
  models.ChampionMasteryResp:
    properties:
      championId:
        type: integer
      championLevel:
        type: integer
      championName:
        type: string
      championPoints:
        type: integer
    type: object
  models.LookupResponse:
    properties:
      champions:
        items:
          $ref: '#/definitions/models.ChampionMasteryResp'
        type: array
      level:
        type: integer
      losses:
        type: integer
      profileIconId:
        type: integer
      rank:
        type: string
      tier:
        type: string
      username:
        type: string
      wins:
        type: integer
    type: object
  models.MatchDataResp:
    properties:
      assists:
        type: integer
      championName:
        type: string
      deaths:
        type: integer
      gameID:
        type: string
      gameMode:
        type: string
      kills:
        type: integer
      win:
        type: boolean
    type: object
  models.UserDB:
    properties:
      RankedTier:
        type: string
      discordid:
        type: string
      id:
        type: string
      puuid:
        type: string
      server:
        type: string
      username:
        type: string
    type: object
host: api.LoLQueue.com
info:
  contact: {}
  description: This is the documentation for the LoLQueue Api Service
  termsOfService: There are no terms of service. We accept no responsibility for your
    ignorance.
  title: LoLQueue API
  version: "1.0"
paths:
  /lookup/{srv}/{usr}:
    get:
      consumes:
      - application/json
      description: Gets the users account information by their Username and Server
      parameters:
      - description: Riot Server
        in: path
        name: srv
        required: true
        type: string
      - description: Username
        in: path
        name: usr
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.LookupResponse'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Show an account
      tags:
      - accounts
  /match/{srv}/{usr}:
    get:
      consumes:
      - application/json
      description: Show the past 10 matches
      parameters:
      - description: Riot Server
        in: path
        name: srv
        required: true
        type: string
      - description: Username
        in: path
        name: usr
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/models.MatchDataResp'
            type: array
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Show recent matches
      tags:
      - accounts
  /ping:
    get:
      consumes:
      - application/json
      description: Ping the API service
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "404":
          description: Not Found
      summary: Pings the API service to ensure that it is active
      tags:
      - utility
  /user:
    post:
      consumes:
      - application/json
      description: Creates and stores the users data to be used when executing commands/api
        calls.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.UserDB'
        "400":
          description: Bad Request
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
      summary: Create an account
      tags:
      - accounts
swagger: "2.0"
